<nav class="nav nav-tabs">
  <a class="nav-link active" aria-current="page" href="#home" data-bs-toggle="tab">Home</a>
  <a class="nav-link" href="#profile" data-bs-toggle="tab">Profile</a>
  <a class="nav-link" href="#link" data-bs-toggle="tab">Link</a>
  <a class="nav-link" href="#settings" aria-disabled="true" data-bs-toggle="tab">Settings</a>
</nav>

<!-- Tab panes -->
<div class="tab-content">
<div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">home</div>
<div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">profile</div>
<div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab">messages</div>
<div class="tab-pane" id="settings" role="tabpanel" aria-labelledby="settings-tab">settings</div>
</div>