<div class="container">
  <div class="row">Menu</div>
  <div class="row">
    <div class="col">
      <app-fretboard
        [id]="2"
        [mode]="mode"
        [tones]="tones"
        (fretboardSelectedEvent)="fretboardSelectedEvent($event)"
      ></app-fretboard>
      <button class="btn btn-primary" (click)="setEditMode()">edit</button>
      <button class="btn btn-primary" (click)="setDisplayMode()">
        display
      </button>
    </div>
    <div class="col-2 border-start border-4">
      <app-properties></app-properties>
      <div *ngIf="itemSelected">
        <p>Properties:</p>
        <p>{{ selection.type }}</p>
        fretboard: {{ selection.fretboard }}
        <div *ngIf="selection.type === 1">
          <label for="label">Label:</label>
          <input
            type="text"
            id="label"
            name="lable"
            minlength="4"
            maxlength="8"
            size="10"
          />

          <li>string: {{ selection.string }}</li>
          <li>fret: {{ selection.fret }}</li>
          <li>label: {{ selection.label }}</li>
        </div>
      </div>
    </div>
  </div>
</div>
